<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/style/style-register.css">
    </head>
<body>
    <div class="log-layer">
        <div class="blog-box">
            <h2>Create an User</h2>
        </div>
        <div class="register-cont">
            <div class="side-cont">
                <h3>Welcome!</h3>
                <div class="image">
                    <img src="/images/signup.svg" alt="">
                </div>
                <p>Already have an Account?</p>
                <a class="login" href="/login">Sign In</a>
            </div>
           <div class="form-cont">
            <form action="/register" method="post">
                <input placeholder="name" value="" name="name" type="text">
                <input placeholder="username" value="" name="username" type="text">
                <input placeholder="email" value="" name="email" type="email">
                <input placeholder="password" value="" name="password" type="password">
                <input placeholder="age" value="" name="age" type="number">
                <input class="button" value="Sign Up" type="submit">
            </form>
            
           </div>
        </div>
    </div>
</body>
</html>