<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style/style-login.css">
 </head>
<body>
    
    <div class="log-layer">
        <div class="blog-box">
            <h2>Login User</h2>
        </div>
        <div class="log-cont">
            <div class="form-cont">
                <form action="/login" method="post">
                    <input placeholder="email" value="" name="email" type="email">
                    <input placeholder="password" value="" name="password" type="password">
                    <input class="button" value="Sign In" type="submit">
                </form>
            </div>
            <div class="side-cont">
                <h3>Welcome Back!</h3>
                <div class="image">
                    <img src="/images/login.svg" alt="">
                </div>
                <p>Don't have an Account?</p>
                <a class="login" href="/">Sign Up</a>
            </div>
            
        </div>
    </div>
    
</body>
</html>