<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style-create.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    
    <div class="edit-layer">
        <a href="/profile">back</a>
        <h3>Edit</h3>
        <form action="/update/<%=post._id  %>" method="post">
            <input type="text" name="posttitle" placeholder="<%= post.posttitle %>">
            <textarea rows="10" name="postdata" placeholder="<%= post.postdata  %>" ></textarea>
            <input class="button" value="Submit Changes" type="submit">
        </form>
    </div>
</body>
</html>