<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style-create.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
   </head>
<body>
    
<div class="profile-layer">
    <div class="create-det">
        <a href="/profile">Back</a>
        <h2>Update Your Profile</h2>
    </div>
            <div class="form-cont">
                <form action="/update" method="post" enctype="multipart/form-data">
                    <input name="name" type="text" placeholder="<%= user.name %>">
                    <div class="file">
                    <label for="files">Select file for Profile Picture</label>
                    <input type="file" name="profilepic" />
                    </div>
                    <!-- <div class="file">
                    <label for="files">Select file for Banner</label>
                    <input type="file" name="bannerpic" />
                    </div> -->
                    <textarea rows="5"  name="bio" placeholder="Tell about yourself to the World..." ></textarea>
                    <input class="button" value="Update Profile" type="submit">
                </form>
            </div>
</div>
</body>
</html>